<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/main.css">
    <title>Socket io Test</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
</head>

<body>

    <ul id="chat"></ul>
    <form id="form" action="">
<!--        <label for="text">enter a guess</label>-->
        <input id="text">
        <input class="guessField" type="hidden" id="input" value="">
        <button class="guessSubmit">Send</button>
    </form>

    <div class="resultParas">
      <p class="guesses"></p>
      <p class="lastResult"></p>
      <p class="lowOrHi"></p>
    </div>

    <script>
        var text = document.getElementById("text").value;
        document.getElementById("text").value = text;
    </script>
    <script src="../static/socketio.js"></script>
</body>
</html>
