<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/main.css">
    <title>Socket io Test</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
</head>

<body>
    <div class="title">
        <h1>!!!Guess the Number!!!</h1>
        <h3 class="subtitle">The room number is {{room}}</h3>
    </div>

    <div class="resultParas">
        <p class="turn">!!!Turn!!!</p>
        <p class="lastResult"></p>
        <p class="lowOrHi"></p>
    </div>


    <div class="number_table">
        <table>
            <tr class="pattern-1">
              <th>user1</th>
              <th>user2</th>
            </tr>
            <tr>
              <td><ul id="chat"></ul></td>
              <td><ul id="chat2"></ul></td>
            </tr>
        </table>
     </div>

    <div class="form">
        <form id="form" action="" class="guessField">
            <input id="text" class="sbox">
            <button class="guessSubmit">Send</button>
        </form>
    </div>

    <p>{{ans}}</p>
    <p>{{session}}</p>
    <p>first user is {{first}}</p>
    <p>user is {{user}}</p>


<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <p class="modal_win"></p>
    <p class="modal_lose"></p>
    <button type="button" onclick=leave_room()>Leave this Room</button>
  </div>

</div>


    <script>
        var ans = JSON.parse('{{ ans | tojson }}');
        var initial_count = JSON.parse('{{ count | tojson }}');
        var first = JSON.parse('{{ first | tojson }}');
        var user_s = JSON.parse('{{ user | tojson }}');
    </script>
    <script src="../static/socketio.js"></script>

</body>
</html>