<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/main.css">
    <title>Wait</title>
</head>
<body>
    {% if msg %}
    <div class="container6">
        <h1>Oops!!! This room is {{msg}}</h1>
            <img src ='../static/images/animation.gif' width="50" height="50"><img src ='../static/images/animation.gif' width="50" height="50"><img src ='../static/images/animation.gif' width="50" height="50">
    </div>

    {% else %}
    <div class="container6">
        <h1>waiting......</h1>
        <h2>the number of waiting is {{num_join}}</h2>
        <img src ='../static/images/animation.gif' width="50" height="50"><img src ='../static/images/animation.gif' width="50" height="50"><img src ='../static/images/animation.gif' width="50" height="50">
    </div>
    {% endif %}

</body>
</html>